<nav class="navbar navbar-expand-md bg-body-light border-bottom  sticky-top">
  <div class="container-fluid gapss">
    <a class="navbar-brand" href="/listings"><i class="fa fa-compass" aria-hidden="true"> <b class="special">Wanderlust</b>
      </i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapsess">

      <!-- <div class="searchhhh">
        <form>
          <div class="input-group">
            <div class="form-outline" data-mdb-input-init>
              <input id="search-input" name="search" placeholder="Search" id="form1" class="form-control" />
              <label class="form-label" for="form1"></label>
            </div>
            <div class="formbutton form-outline ">
              <button id="search-button" value="search" type="submit" class="btn btn-primary" >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div> -->

      <!-- <div class="formm">
        <form>
          <div class="srch">
            <div class="tsrch">
              <input type="text" placeholder="  e.g farm,city" name="search">
            </div>
            <div class="bsrch">
              <button type="submit " value="search">SEARCH</button>
            </div>
          </div>
        </form>
      </div> -->
      <div class="collapse  navbar-collapse" id="navbarNavAltMarkup">

        <div class="navbar-nav">

          <a class="nav-link" href="/listings">Home</a>
          <a class="nav-link" href="/listings/new">Sell Property</a>
          <a class="nav-link" href="/listings/my">My Property</a>

          <!-- <a class="nav-link" style="color: black;" href="/listings/signup">Sign Up</a>
          <a class="nav-link"  style="color: black;" href="/listings/login">Log In</a> -->



        </div>
      </div>
    </div>
  </div>
</nav>

<br>
<br>
